*, a, ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.imgFront {
    font-family: 'Muli', sans-serif;
    font-weight: bolder;
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 290px;
    color: #D6390C;
    -webkit-text-stroke: 0.5px black;
}

.linkFront {
    width: 150px;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    justify-content: space-around;
    padding-top: 5px;
    padding-bottom: 40px;
}

.linkFront a {
    color: #D6390C;
    font-size: medium;
}

.divLogoFront {
    width: 80px;
    height: auto;
}

.searchFront {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.logoFront {
    width: 100%;
    height: auto;
}

.searchFront {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#groupeSearch {
    width: 160px;
}


