<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>connectHeader</title>
    <link href="../static/css/style.css" th:href="@{css/style.css}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
<header class="connectHeader" th:fragment="connectheader">
    <div class="flexHeader">
        <div class="pHeader"><a th:href="${bandLinkHref}"><p th:text="${bandLinkText}">Lien vers groupe</p></a>|<a th:href="@{/recherche}"><p>Retour</p></a>|<a th:href="@{/profil-utilisateur}">Profil </a><p>|</p><a th:href="@{/}">Déconnexion </a></div>
        <div class="logo"><a href="#"><img src="images/leBonLogo.png" alt="logo épuré"/></a></div>
        <div th:text ="|Bienvenue : ${session.musicianLevelInstrument.getAlias()}|" class = "statutSession"></div>
    </div>
</header>
</body>
</html>