<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Antoine Zudas - Laurent Rous - Olivier Nocaudie">
    <meta name="description" content="WhereIsMyBand">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:href="@{css/style.css}" href="../static/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <title>WhereIsMyBand</title>
</head>
<body>
<footer th:fragment="footer">
    <section>
        <ul>
            <li><a th:href="@{/#}">Element 1</a></li>
            <li><a th:href="@{/#}">Element 2</a></li>
            <li><a th:href="@{/#}">Element 3</a></li>
            <li><a th:href="@{/#}">Element 4</a></li>
        </ul>

    </section>
    <section>
        <p>WhereIsMyBand 2019 - All rights reserved</p>
    </section>
</footer>
</body>
</html>