<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>frontpage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{css/style.css}" href="../static/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
<div th:replace="welcome :: welcome">
</div>
<section class="searchFront">
    <label for="groupeSearch">Groupes à proximité</label>
    <form method="get" th:action="@{/notLogView}" class="recherche">
        <input type="search" id="searchGroup" name="q"
               aria-label="Search through site content" placeholder="Code postal">
        <button type="submit">&#x1F50D</button>
    </form>
</section>
<footer th:replace="footer :: footer">
</footer>
</body>
</html>