<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Antoine Zudas - Laurent Rous - Olivier Nocaudie">
    <meta name="description" content="WhereIsMyBand">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:href="@{css/style.css}" href="../static/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <title>WhereIsMyBand</title>
    <link rel="icon" type="image/png" href="images/favicon.png"/>
</head>
<body>
<div class="globalContainer">
    <div class="mainContent">
        <div th:replace="welcome :: welcome">
        </div>
        <div class="searchResult">
            <h3>Résultats correspondant à votre code postal</h3>
            <section class="searchFrontNotLog">
                <form method="get" th:action="@{/vue-non-connectee}" class="rechercheNotLog">
                    <div class="userPostCode">
                        <label for="postcode"></label>
                        <input type="text" id="postcode" name="postcode" class="fieldPostCode"
                               placeholder="Votre code postal">
                    </div>
                    <div class="validateNotLog">
                        <input type="submit" value="Valider" class="validateButtonNotLog">
                    </div>
                </form>
            </section>
            <ul>
                <li><a th:href="@{/inscription}">
                    <div class="searchResultName">Nom du groupe</div>
                    <div class="searchResultDistanceStyle">Distance | Style</div>
                </a></li>
                <li><a th:href="@{/inscription}">
                    <div class="searchResultName">Nom du groupe</div>
                    <div class="searchResultDistanceStyle">Distance | Style</div>
                </a></li>
                <li><a th:href="@{/inscription}">
                    <div class="searchResultName">Nom du groupe</div>
                    <div class="searchResultDistanceStyle">Distance | Style</div>
                </a></li>
            </ul>
        </div>
    </div>
    <footer th:replace="footer :: footer">
    </footer>
</div>
</body>
</html>