<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Antoine Zudas - Laurent Rous - Olivier Nocaudie">
    <meta name="description" content="WhereIsMyBand">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:href="@{css/style.css}" href="../static/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <title>WhereIsMyBand</title>
    <link rel="icon" type="image/png" href="images/favicon.png"/>
</head>
<body>
<div class="globalContainer">
    <div class="mainContent mainContentNotLog">
        <div th:replace="welcome :: welcome">
        </div>
        <div class="searchResult">
            <h3>Résultats correspondants à votre code postal</h3>
            <section class="searchFrontNotLog">
                <form method="get" th:action="@{/vue-non-connectee}" class="notLogSearch">
                    <div class="userPostCode">
                        <label for="postcode"></label>
                        <input type="text" id="postcode" name="postcode" class="fieldPostCode fieldPostCodeNotLog"
                               placeholder="Votre code postal">
                    </div>
                    <div class="validateNotLog">
                        <input type="submit" value="Valider" class="validateButtonNotLog">
                    </div>
                </form>
            </section>

            <p class = "resultError" th:if="${erreur} == true">Aucun résultat ou code postal incorrect</p>

            <ul class="groupResults groupResultsNotLog" th:each="result : ${results}">
                <li th:text="|Nom du groupe: ${result.getBandName()}|">$bandName</li>
                <li th:text="|Style: ${result.getStyle()}|">$style</li>
                <li th:text="|Code Postal: ${result.getPostCode()}|">$postCode</li>
                <li th:switch="${result.getSearchType()}">
                    <p th:case="1">Type de recherche : session jam</p>
                    <p th:case="2">Type de recherche : groupe</p>
                    <p th:case="3">Type de recherche : groupe et session jam</p>
                </li>
                <li th:text="|Instrument: ${result.getInstrumentName()}|"></li>
                <li th:switch="${result.getInstrumentLevel()}">
                    <p th:case="1">Débutant</p>
                    <p th:case="2">Intermédiaire</p>
                    <p th:case="3">Avancé</p>
                    <p th:case="4">Pro</p>
                </li>
                <li th:text="|Disponibilité: ${result.getAvailability()}|">$availability</li>
            </ul>

        </div>
    </div>
    <footer th:replace="footer :: footer">
    </footer>
</div>
</body>
</html>