<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Antoine Zudas - Laurent Rous - Olivier Nocaudie">
    <meta name="description" content="WhereIsMyBand">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:href="@{css/style.css}" href="../static/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <title>WhereIsMyBand</title>
    <link rel="icon" type="image/png" href="images/favicon.png"/>
</head>
<body>
<div class="globalContainer">
    <header th:replace="header :: header"></header>
    <div class="mainContent">
        <h2>Inscription</h2>
        <div class="blockUserInfo">
            <a th:href="@{/connexion}">J'ai déjà un compte</a>
        </div>
        <form method="post" th:action="@{/recherche}">
            <div class="blockUserInfo">
                <label for="userMail">Email</label>
                <input type="email" id="userMail" name="userMail" placeholder="Votre email"/>
                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="password" class="fieldAccountInfo"
                       placeholder="Mot de passe">
                <input type="password" id="newpassword" name="newpassword" class="fieldAccountInfo"
                       placeholder="Confirmer le mot de passe">
            </div>
            <div class="blockUserInstrument">
                <div class="userSingleInstrument">
                    <select id="mainInstrument" class="fieldInstrument">
                        <option value="" disabled selected>Votre instrument principal</option>
                        <option value="Saxophone">Saxophone</option>
                        <option value="Guitare">Guitare</option>
                    </select>
                    <select id="mainInstrumentLevel" class="fieldLevel">
                        <option value="" disabled selected>Votre niveau</option>
                        <option value="Débutant">Débutant</option>
                        <option value="Intermédiaire">Intermédiaire</option>
                        <option value="Avancé">Avancé</option>
                        <option value="Pro">Pro</option>
                    </select>
                </div>
                <div class="userSingleInstrument">
                    <select id="secondInstrument" class="fieldInstrument">
                        <option value="" disabled selected>Votre instrument principal</option>
                        <option value="Saxophone">Saxophone</option>
                        <option value="Guitare">Guitare</option>
                    </select>
                    <select id="secondInstrumentLevel" class="fieldLevel">
                        <option value="" disabled selected>Votre niveau</option>
                        <option value="Débutant">Débutant</option>
                        <option value="Intermédiaire">Intermédiaire</option>
                        <option value="Avancé">Avancé</option>
                        <option value="Pro">Pro</option>
                    </select>
                </div>
            </div>
            <div class="userPostCode">
                <label for="postcode">Code postal</label>
                <input type="text" id="postcode" name="postcode" class="fieldPostCode"
                       placeholder="Votre code postal">
            </div>
            <div class="saveProfile">
                <input type="submit" value="Valider" class="saveButton">
            </div>
        </form>
    </div>
    <footer th:replace="footer :: footer">
    </footer>
</div>
</body>
</html>