<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header>

    </header>
    <div>
        <img src="https://via.placeholder.com/150"/>
        <input type="file" id="avatar" name="avatar">
        <label for="avatar">Avatar</label>
    </div>
    <div>
        <label for="username">Nom d'utilisateur</label>
        <input type="text" id="username" name="username">
        <label for="password">Mot de passe</label>
        <input type="password" id="password" name="password">
        <label for="newpassword">Confirmer le mot de passe</label>
        <input type="password" id="newpassword" name="newpassword">
    </div>
    <div>
        <select>
            <option value="Saxophone">Saxophone</option>
            <option value="Guitare">Guitare</option>
        </select>
        <select>
            <option value="Débutant">Débutant</option>
            <option value="Intermédiaire">Intermédiaire</option>
            <option value="Avancé">Avancé</option>
            <option value="Pro">Pro</option>
        </select>
        <select>
            <option value=Saxophone">Saxophone</option>
            <option value="Guitare">Guitare</option>
        </select>
        <select>
            <option value="Débutant">Débutant</option>
            <option value="Intermédiaire">Intermédiaire</option>
            <option value="Avancé">Avancé</option>
            <option value="Pro">Pro</option>
        </select>
    </div>
    <div>
        <span>Jours de disponibilité : </span>
        <label for="lundi">Lu</label>
        <input type="checkbox" id="lundi" name="lundi>">
        <label for="mardi">Ma</label>
        <input type="checkbox" id="mardi" name="mardi>">
        <label for="mercredi">Me</label>
        <input type="checkbox" id="mercredi" name="mercredi>">
        <label for="jeudi">Je</label>
        <input type="checkbox" id="jeudi" name="jeudi>">
        <label for="vendredi">Ve</label>
        <input type="checkbox" id="vendredi" name="vendredi>">
        <label for="samedi">Sa</label>
        <input type="checkbox" id="samedi" name="samedi>">
        <label for="dimanche">Di</label>
        <input type="checkbox" id="dimanche" name="dimanche>">

    </div>
    <div>
        <label for="postcode">Code postal</label>
        <input type="text" id="postcode" name="postcode">
    </div>
    <div>
        <span>Je recherche... </span>
        <div>
            <label for="jam">une Jam Session !</label>
            <input type="checkbox" id="jam" name="jam>">
            <label for="groupe">un Groupe !</label>
            <input type="checkbox" id="groupe" name="groupe>">
        </div>
    </div>
    <div>
        <label for="bio">Ma vie mon oeuvre</label>
        <input type=textarea" id="bio" name="bio">
    </div>
    <footer>

    </footer>
</body>
</html>